.landscape {
    width: 100%;
    height: 200px;
    overflow: hidden;
    border : 1px solid blue;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.portrait {
    width: 100%;
    height: 200px;
    overflow: hidden;
    border : 1px solid blue;
    display: flex;
    justify-content: center;
}

.landscape img{
    width: 100%;
    height: auto;
}
.portrait img {
    height: 100%;
}

img {
    display:  block;
}